@model Player
<h2>Add Players</h2>
@using(Html.BeginForm())
{
    <div>
    @Html.DisplayNameFor(p=>p.Name)
    <br>
    @Html.EditorFor(p=>p.Name)
    <br>
    </div>
    <div>
    <br>
    @Html.DisplayNameFor(p=>p.Age)
    <br>
    @Html.EditorFor(p=>p.Age)
    <br>
    </div>
    <div>
    @Html.DisplayNameFor(p=>p.Category)
    <br>
    @Html.EditorFor(p=>p.Category)
    <br>
    </div>
    <div>
    @Html.DisplayNameFor(p=>p.BiddingAmount)
    <br>
    @Html.EditorFor(p=>p.BiddingAmount)
    <br>
    </div>
    <div>
    @* <label>Select Team</label> *@
    @* <select asp-for="TeamId"  asp-items="ViewBag.TeamId">
        <option value="">Choose Team</option>
    </select> *@
    <br>
    </div>

    @Html.DisplayNameFor(p=>p.TeamId)
    <br>
    @Html.EditorFor(p=>p.TeamId)
    <br>
    <input type="submit" class="btn btn-success"></input>
    <br>

    

}