@model Player
<h2>Add Players</h2>
@using(Html.BeginForm())
{
    
    @Html.DisplayNameFor(p=>p.Name)
    <br>
    @Html.EditorFor(p=>p.Name)
    <br>
    <br>
    @Html.DisplayNameFor(p=>p.Age)
    <br>
    @Html.EditorFor(p=>p.Age)
    <br>
    @Html.DisplayNameFor(p=>p.Category)
    <br>
    @Html.EditorFor(p=>p.Category)
    <br>
    @Html.DisplayNameFor(p=>p.BiddingAmount)
    <br>
    @Html.EditorFor(p=>p.BiddingAmount)
    <label>Select Team</label>
    <select asp-for="TeamId"  asp-items="ViewBag.TeamId">
        <option value="">Choose Team</option>
    </select>
    <br>

    @Html.DisplayNameFor(p=>p.TeamId)
    <br>
    @Html.EditorFor(p=>p.TeamId)
    <br>
    <input type="submit" class="btn btn-success"></input>

    

}